# Kite nRF52840 board configuration

# SPDX-License-Identifier: Apache-2.0

if BOARD_KITE_NRF52840_NRF52840

config HW_STACK_PROTECTION
	default ARCH_HAS_STACK_PROTECTION

config BT_CTLR
	default BT

endif # BOARD_KITE_NRF52840_NRF52840
