# Kite-nRF9151

# Copyright (c) 2023 Elektronikutvecklingsbyrån EUB AB
# SPDX-License-Identifier: Apache-2.0

if SOC_NRF9151_LACA

config BOARD_KITE_NRF9151
	bool "Kite-nRF9151"

config BOARD_KITE_NRF9151_NS
	bool "Kite-nRF9151 non-secure"

endif # SOC_NRF9151_LACA
